<header class="bg-white text-white" >
    <div class="container" >
      <div  class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">
              <img src="../../assets/img/logo.png" style="margin-left: -16px;" width="100">
          </a></li>
        </ul>
        <div class="text-end">
            <a > <span class="phone text-login"> (+237) 699 000 333 - (+237) 6799 000 333</span></a>
            <a [routerLink]="['/rechercher']"> <span class="me-2 text-login text-white text-sm-center"> <img src="../../assets/img/search.svg" width="22"></span></a>
            <a [routerLink]="['/mon-panier']"> <span class="me-2 text-login text-white"><img src="../../assets/img/cart.svg" width="22"></span></a>
            <a [routerLink]="['/mon-compte']"><button type="button" class="btn btn-primary-custom"><img src="../../assets/img/account.svg" width="22"></button></a>
        </div>
      </div>
      <!--Navbar -->
        <nav class="navbar navbar-expand-lg navbar-white bg-white-o p-3">
            <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page"  [routerLink]="['tirages-photos']" >Tirages photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" [routerLink]="['/deco-murale']">Déco murale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" [routerLink]="['/accessoires']">Accéssoires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" [routerLink]="['/coming-soon']">Livres photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" [routerLink]="['/coming-soon']">Calendriers</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
    </div>
  </header>