.footer-title{
    font-size: 14px;
    font-weight: 700!important;
}
.list-type{
    list-style: none!important;
    padding: 0px
}

.m-50{
    margin-top:50px;
}

h3{
    color: white;
}
.coli {
    flex: inherit;
    width: 50px;
}

li{
    color: white;
}

a{
    color: white;
}

.bg-custom-image{
    background-color: #3C3C3C;
}

.bg-custom-copyright{
    background-color:#00B0EF;
}

.copy-p{
    padding-top: 25px!important;
    padding-bottom: 5px!important;
}
body {
    background-color: #eee
}

.cookie-consent {
    position: fixed;
    bottom: 8px;
    left: 20px;
    width: 260px;
    padding-top: 7px;
    height: 135px;
    color: #fff;
    line-height: 20px;
    padding: 20px;
    font-size: 14px;
    background: #292929;
    z-index: 120;
    cursor: pointer;
    border-radius: 3px
}

.allow-button {
    height: 20px;
    width: 104px;
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    border-radius: 3px;
    border: 1px solid #4DB319;
    background-color: #4DB319;
    margin: 5px;
}

.cancel-button {
    height: 20px;
    width: 104px;
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    border-radius: 3px;
    border: 1px solid red;
    background-color: red;
    margin : 5px;
}
li{
    font-weight: 100!important;
}



.text-w{
    color : white!important;
  }

 a{
     text-decoration: none!important;
  }

  .text-white:hover{
     color: #0B7AFF!important;
  }