.bg-custom{
    background-image: url("../../assets/img/category-bg.svg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    height: auto;
}
 .text-custom-black{
    color:#3C3C3C;
 }

.pa-5{
    padding-bottom: 25px!important;
    padding-left: 0px!important;
}

.title-blog{
    font-size: 2rem;
    font-weight: 600;
}
@media only screen and (max-width: 720px) {
    .parent {
        flex-flow: column-reverse;
      }
    .bg-custom{
        background-image: url("../../assets/img/category-bg.svg");
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        background-position: center; /* Center the image */
        height: 300px;
    }
    .bg-color-b{
        background-color: #00B0EF;
        border-left: 5px solid #00B0EF!important;
    }
    .no-pl{
        padding-left: 12px!important;
    }
    .no-pr{
        padding-right: 12px!important;
    }
}


a{
    text-decoration: none;
}


.space{
    padding-top: 50px;
    padding-bottom: 10px;
}



.sep-space{
    padding-top: 50px;
}

.heading{
        font-size: 3.1rem;
        padding-left: 0px!important;
}

.rose{
    color:#FF038D;
}

.bg-color-b{
    background-color: #00B0EF;
    border-left: 5px solid #F6F6F6;
}

.b-gray{
    background-color: #ECECEC;
}
.bg-gray{
    background-color: #ECECEC;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
.padding{
    padding-top: 100px;
    padding-bottom: 100px;
}
.para{
    font-size: 1.3rem;
    padding-left: 0px!important;
}
.p-custom{
    padding-top: 25px;
    padding-bottom: 25px;
}

.heading{
    font-size: 3.1rem;
    font-weight: 700;
}

.sub{
    font-size: 2.8rem;
    line-height: 35px;
}

.cent{
    text-align: center;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.centi{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    //padding: 25px;
}

.btn-white {
    color: #00B0EF;
    background-color:white;
    border-color: white;
    padding: 10px;
    font-size: 1rem;
}
.btn{
    border-radius: 0px;
}
.text-5{
    font-size:0.9rem;
}

.p-10{
    padding: 25px;
}


.no-pl{
    padding-left: 0px;
}
.no-pr{
    padding-right: 0px;
}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.m-50{
    margin-top: 50px;
    margin-bottom:50px;
}
.p-title{
    font-size: 4rem;
}
.p-text{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.35rem;
}

.p-custom-img{
    width: 100%;
}
@media only screen and (min-width: 1025px) {
mr-d{
    padding-left: 70px;
}
ml-d{
    padding-right: 70px;
}

} 

.meta{
    margin-top: -35px;
}
.price{
    color: #3A7D44;
}
.add-cart {
    color: white;
    background-color: #9BC53D;
    border-color: #9BC53D;
    font-size: 1rem;
    text-align: left;
}
.hand{
    cursor: pointer;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: none;
    /* border-radius: 0.25rem; */
}

.card-body {
    flex: 1 1 auto;
    padding-left: 0px;
    padding-top: 15px;
}

.product-title{
    font-weight: 800;
    font-size: 1.5rem;
    color: #3C3C3C;
}
