<div class="container" >
    <div class="row">
        <div class="col-md-6 col-xs-6 col-sm-6 bg-custom padding">
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6 bg-color-b">
          <div class="padding">
              <h3 class="centi text-white heading">Tirages photos</h3>
              <a href="#start">
                <button type="button" class="cent btn btn-white">Je crée mon souvenir</button>
              </a>
              
              <span class="centi text-white">À partir de 2000 FCFA</span>
          </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-3 col-sm-3 p-10 b-gray" >
            <h6 class="text-center text-5">Paiements sécurisés</h6>
            <img class="img-center"  src="../../assets/img/pay.svg" width="150">
        </div>
        <div class="col-md-3 col-xs-3 col-sm-3 p-10 b-gray" >
            <h6 class="text-center text-5">Tirages de qualité</h6>
            <img class="img-center"  src="../../assets/img/de.svg" width="50">
        </div>
        <div class="col-md-3 col-xs-3 col-sm-3 p-10 b-gray" >
            <h6 class="text-center text-5">Formats personnalisables</h6>
            <img class="img-center"  src="../../assets/img/img.svg" width="50">
        </div>
        <div class="col-md-3 col-xs-3 col-sm-3 p-10 b-gray" >
            <h6 class="text-center text-5">Livraison partout</h6>
            <img class="img-center"  src="../../assets/img/cmr.svg" width="30">
        </div>
    </div>
    <div id="start">
        <div class="row space ">
            <h1 class="heading no-padding text-custom-black">Faites imprimer vos photos à partir de <span class="rose">200 FCFA</span></h1>
            <p class=" para no-padding text-custom-black">S’il est aujourd’hui facile de partager des photos en ligne avec ses proches, il faut aussi dire que le développement photo fait son grand retour. Tirage petit format à garder dans son portefeuille, tirage classique à intégrer à un album photo, agrandissement à exposer façon poster : tout est possible !</p>
        </div>
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3">
                
            <div class="col"  *ngFor="let item of infos;">
                <div (click)="productGo(item.id)" class="hand card">
                    <img src="https://admin.theprintplus-cm.com{{item.file_path}}"  alt="Add post"  class="card-img-top img-center" />
                    <div class="card-body">
                    <div class="justify-content-between align-items-center">
                        <div class="">
                        <p class="card-text product-title">{{item.name}}</p><br/>
                        <div class="meta">
                            <p><span><b>Format ({{item.formats[0].unit}}) :</b> {{showFormats(item.formats)}}</span>
                                
                                <br><span>
                                    À partir de <span class="price"><b>{{item.r_price}} FCFA</b></span>
                                </span>
                            </p>
                        </div>
                        <button (click)="productGo(item.id)" type="button" class="btn add-cart ">Je commande</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sep-space"></div>








        <div class="row marge pb-custom">
            <h1 class="heading no-pl pb-3 text-custom-black">Pourquoi developper vos photos sur papier ?</h1>
            <div class="col-md-6 col-xs-6 col-sm-6 ml-d no-pl">
                <img class="p-custom-img" src="../../assets/img/b1.svg" >
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6 mr-d">
                <div class="">
                    <h3 class="title-blog text-custom-black">Conserver vos portraits de famille</h3>
                    <p class="p-text text-custom-black">Réaliser une impression photo d’un portrait de famille vous semble un peu désuet ? Et pourtant, c’est une manière formidable de démontrer les liens qui vous unissent, de partager l’histoire familiale ou encore de créer une jolie décoration à afficher dans votre maison ou appartement. Et puis, le portrait de famille, ce n’est pas forcément ce cliché très sérieux où chacun doit être à sa place : amusez-vous, créez des portraits qui vous ressemblent, qui sortent de l’ordinaire et que vous serez fiers de faire imprimer !</p>
                </div>
            </div>
        </div>

        <div class="row pt-5 marge pb-custom">
            <div class="col-md-6 col-xs-6 col-sm-6 mr-d no-pl">
                <div class="">
                    <h3 class="title-blog text-custom-black">Vous remémorer vos plus beaux souvenirs de mariage</h3>
                    <p class="p-text text-custom-black">Si le mariage laisse un souvenir indélébile dans l’esprit des mariés et de leurs invités, c’est aussi l’occasion rêvée de prendre de belles photos, que l’on aura plaisir à regarder à nouveau après la cérémonie. Imprimez vos plus belles photos avec des tirages photo premium, pour les envoyer à vos proches, pour créer votre propre album photo ou encore pour les afficher en guise de décoration murale !</p>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6 ml-d no-pl">
                <img class="p-custom-img" src="../../assets/img/img07.svg" >
            </div>
        </div>

        <div class="row pt-5 parent marge pb-custom">
            <div class="col-md-6 col-xs-6 col-sm-6 ml-d no-pl">
                <img class="p-custom-img" src="../../assets/img/img08.svg" >
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6 mr-d">
                <div class="">
                    <h3 class="title-blog text-custom-black">Garder un souvenir des moments marquants de la vie de votre enfant</h3>
                    <p class="p-text text-custom-black">Dès leur plus jeune âge, les enfants sont désormais sous le feu des projecteurs, ou du moins de l’objectif photo de leurs parents. Pour conserver ces moments précieux, rien de mieux que des tirages photo ! Les clichés imprimés seront un magnifique support pour montrer plus tard à votre enfant ses premiers pas, ses bêtises, les instants de partage en famille, les moments avec ses amis, etc.</p>
                </div>
            </div>
        </div>




        <div class="row pt-5 marge pb-custom">
            <div class="col-md-6 col-xs-6 col-sm-6 mr-d no-pl">
                <div class="">
                    <h3 class="title-blog text-custom-black">Revivre vos plus beaux voyages depuis votre canapé</h3>
                    <p class="p-text text-custom-black">Les vacances sont toujours l’occasion de prendre de belles photos : paysages, soirées entre amis, moments en famille, événements culturels, nourriture locale, etc. Et ce sont de précieux souvenirs que l’on ne veut pas oublier ni perdre à cause d’un bug informatique ou d’un téléphone défaillant. La solution : faire développer les photos sur papier. Cela est aussi une bonne occasion de faire le tri dans les photos de voyage, car dans l’euphorie des vacances, on a tendance à déclencher l’objectif un peu trop souvent, pour des résultats pas toujours concluants.</p>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6 ml-d no-pl">
                <img class="p-custom-img" src="../../assets/img/VOYAGEEEE-01.png" >
            </div>
        </div>

        <div class="row pt-5 parent marge pb-custom">
            <div class="col-md-6 col-xs-6 col-sm-6 ml-d no-pl">
                <img class="p-custom-img" src="../../assets/img/img10.svg" >
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6 mr-d">
                <div class="">
                    <h3 class="title-blog text-custom-black">Offrir un joli cadeau à un proche</h3>
                    <p class="p-text text-custom-black">Le tirage photo représente également une très belle idée de cadeau personnalisé. Et pour un cadeau encore plus beau, pensez à la box photo sur la thématique de votre choix, et ce, parmi 24 modèles (anniversaire, mariage, vacances, nature, amour, Noël, etc.). Vous pourrez y insérer jusqu’à 100 tirages au format classique, pour surprendre et faire plaisir à coup sûr ! Si vous n’êtes pas totalement emballé par cette idée, pensez aussi à d’autres cadeaux personnalisés, comme l’album photo ou le calendrier photo, qui font toujours leur petit effet.</p>
                </div>
            </div>
        </div>
</div>
