

*{padding:0;margin:0;}
.container{
    position: absolute;
    background: #f6f6f6;
    color: white;
    height: 100%;
    width: 100%!important;
}

@media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100%!important;
    }
}


@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 100%;
    }
}


body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
    background-color:#CCC;
 
}

.float{
    position: fixed;
    width: 400px;
    height:100px;
    bottom: 0px;
    right: 0px;
    background-color: #ECECEC;
    color: #FFF;
    text-align: left;
    padding-top: 20px;
    padding-left: 15px;
    border-radius: 5px;
}

.my-float{
	margin-top:22px;
}






.bg{
    background-color: #F6F6F6;
    margin-bottom: -50px;
    height: 100%;
}
.hidden{
    visibility: hidden;
}
.btn-secondary{
    background-color: #9BC53D;
    float: right;
    border-color: #9BC53D;
}


.add-bg{
    border-radius:15px;
    height: 400px;
    vertical-align: middle;
    margin-top: -150px;
}

.add-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    
}

.bread-text{
    color: #D80032;
}

.breadcumbs{
    padding-bottom: 50px;
    padding-left: 90px;
}

.text-gray {
color:#595959;
}

.center{
    margin-left: auto!important;
    margin-right: auto!important;
    display: block!important;
    text-align: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .celi{
    position:relative;
  }
  .element{
        padding-top: 30px;
        padding-bottom: 30px;
        transform: translateY(50%);
  }


  .cell {
    height: 200px;
    position: relative;
  }

  .hand{
      cursor: pointer;
  }
.delete{
    color: #00B0EF;
}
