
  <!-- For Footer bottom -->
  <div class="album py-5 bg m-50" style="margin-top:16px">
    <div class="container">
    <div class="breadcumbs">
        <a style="color:#4CB0E9!important;"  href="javascript:history.back()" class="bread-text hand">Retour au produit</a>
    </div>
      <div  class="row" *ngIf="nombre_fois<(infos.photos || getFormat().images) || infos.photos==1" >
        <div class="col-md-3 col-xs-3 col-sm-3 cell">
<!--             <div class="vertical-center">
                <h6 class="fw-light footer-title"><b>Photo originale</b></h6>
            </div> -->
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6">
            <div *ngIf="nombre_fois<(infos.photos || getFormat().images)" class="add-bg hand" (click)="file.click()">
                <div class="element">
                  <h3 class="center" style="font-size:5rem;color:#595959;padding-bottom: 5px;">Ajouter une photo</h3>
                  <span class="center" style="font-size:1.3rem;color:#5959595c;padding-bottom: 15px;">Vous ne pouvez sélectionner qu’une photo à la fois</span>
                    <img class="add-img center"  src="../../assets/img/add.svg" width="100">
                   <!--  <span class="text-gray text-1 center">Nombre maximal de photos pour ce produit : 16</span> -->
                    <span class="text-gray text-1 center" style="padding-top:15px;color: #595959;font-size: 1.3rem;">
                      <span *ngIf="nombre_fois==0">Nombre maximal de photos pour ce produit : {{(infos.photos || getFormat().images) - this.nombre_fois}}</span>
                      <span *ngIf="nombre_fois>0"> Plus que {{(infos.photos || getFormat().images) - this.nombre_fois}} photo(s) à ajouter pour commander ce produit</span>
                  </span>
                </div>
            </div>
           <!--  <span *ngIf="nombre_fois<(infos.photos || getFormat().images)" style="color: red; text-align:center;display: block;">Vous ne pouvez sélectionner qu'une photo à la fois</span> -->
           
            <div *ngIf="(infos.photos || getFormat().images)==1 && nombre_fois==(infos.photos || getFormat().images)">
              <div *ngFor="let img of images; index as i">
                <img [src]="img" style="width: 95%;border-radius: 10px;" class="img-responsive">
                <span style="color: #E9368D;" (click)="delete(i)" class="delete hand">Supprimer</span>
              </div>
            </div> 
           
        </div>
        <div *ngIf="base64" class="col-md-3 col-xs-3 col-sm-3" style="display: flex;flex-wrap: nowrap;  align-content: space-around; justify-content: flex-start; align-items: center;">
         <!--  <button (click)="productGo()" type="button" class="btn btn-secondary">Je valide</button> -->
        </div>
      </div>
        <div *ngIf="(infos.photos || getFormat().images)>1" class="row imagetiles" style="padding-top:150px;padding-left:150px;padding-right: 100px;">
          <div *ngFor="let img of images; index as i" class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
              <img [src]="img" style="width: 70%; border-radius: 10px;" class="img-responsive"><br>
              <span style="color: #E9368D;" (click)="delete(i)" class="delete hand">Supprimer</span>
          </div>
      

      </div>
      <div class="hidden"><input type="file" accept="image/*" #file (change)="fileChangeEvent($event)"/></div>

      
      <ngx-photo-editor
      [imageChangedEvent]="imageChangedEvent"
      (imageCropped)="imageCropped($event)"
      [aspectRatio]="infos.ratio"
      [viewMode]="1"
      [resizeToWidth]="0"
      [resizeToHeight]="0"></ngx-photo-editor>

      


      

    </div>
  </div>


<!-- Code begins here -->

  <div  class="float">
    <div class="row" style="padding-left: 25px;">
      <div class="col-sm-6">
        <h5 style="color:#595959;font-size: 2rem;">{{(getPanier()?.length || 0)+1}} Produit(s)</h5>
      </div>
      <div class="col-sm-6" style="display: flex;justify-content: space-around;margin-left: -15px;">
        <h5 style="color:#595959;font-size: 2rem;">{{totalAmount() + (convertNumber(getFormat().price) || 0) }} F CFA</h5>
      </div>
    </div>

    <div class="row pt-2" style="padding-left: 25px;">
      <div class="col-sm-6" >
        <button [disabled]="this.nombre_fois<1" (click)="add_to_cart(infos)" type="button" class="p-1 btn" style="background: #4CB0E9;
        color: white;
        border: #4CB0E9; border-radius: 5px!important; font-size: 2rem;padding-left: 15px!important;padding-right: 15px!important;">Autre commande</button>
      </div>
      <div class="col-sm-6" style="display: flex;justify-content: space-around;margin-left: -15px;">
        <button [disabled]="this.nombre_fois<1"  (click)="pay(infos)" type="button" class="p-1 btn" style="background: #9BC53D;color: white;
        border: #9BC53D;border-radius: 5px!important;font-size: 2rem;padding-left: 15px!important;padding-right: 15px!important;">Continuer</button>
      </div>
    </div>
  </div>




