<div class="container" >
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 bg-color-b">
          <div class="padding">
              <h3 class="centi text-white heading">Nos partenaires</h3>
              <p class="centi text-white sub">Liste de nos partenaires</p>
              <!-- <a href="#products"><button type="button" class="cent btn btn-white">Je crée mon souvenir</button></a> -->
          </div>

        </div>
    </div>



    <div class="row p-mobile row-b parent">
        <div class="col-md-6 col-xs-6 col-sm-6 mr-d">
            <div class="">
                <h3 class="p-title">Nom du partenaire</h3>
                <p class="p-text">
                    <b>Description du partenaire :</b><br>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem.
                </p>
                    <b>Nos adresses :</b><br><br>
                    <b>Localisation :</b>   XXXXXXXXXXX - Douala Cameroun
                    <hr style="border-top: 1px dashed #3C3C3C;" />

                    <b>Téléphones :</b>    (+237) 000 000 000
                    <hr style="border-top: 1px dashed #3C3C3C;" />

                    <b>Email :</b>    aaaaa@light-conseils.com
                    <hr style="border-top: 1px dashed #3C3C3C;" />
                    <div class="row">
                        <div class="coli col">
                            <img class="add-img center"  src="../../assets/img/p_lin.svg" width="16">
                        </div>
                        <div class="coli col">
                            <img class="add-img center"  src="../../assets/img/p_fb.svg" width="9">
                        </div>
                        <div class="coli col">
                            <img class="add-img center"  src="../../assets/img/p_tw.svg" width="16">
                        </div>
                        <div class="coli col">
                            <img class="add-img center"  src="../../assets/img/p_wh.svg" width="16">
                        </div>
                    </div>
            </div>
          </div>
        <div class="col-md-6 col-xs-6 col-sm-6 ml-d no-pl">
            <img class="p-custom-img" src="../../assets/img/thesudio.png" >
        </div>
    </div>
    



    <div class="row p-mobile row-b">
        <div class="col-md-6 col-xs-6 col-sm-6 ml-d no-pl">
            <img class="p-custom-img" src="../../assets/img/p4.png" >
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6 mr-d">
            <div class="">
                <h3 class="p-title">Nom du partenaire</h3>
                <p class="p-text">
                    <b>Description du partenaire :</b><br>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem.
                </p>
                    <b>Nos adresses :</b><br><br>
                    <b>Localisation :</b>   XXXXXXXXXXX - Douala Cameroun
                    <hr style="border-top: 1px dashed #3C3C3C;" />

                    <b>Téléphones :</b>    (+237) 000 000 000
                    <hr style="border-top: 1px dashed #3C3C3C;" />

                    <b>Email :</b>    aaaaa@light-conseils.com
                    <hr style="border-top: 1px dashed #3C3C3C;" />
                    <div class="row">
                        <div class="coli col">
                            <img class="add-img center"  src="../../assets/img/p_lin.svg" width="16">
                        </div>
                        <div class="coli col">
                            <img class="add-img center"  src="../../assets/img/p_fb.svg" width="9">
                        </div>
                        <div class="coli col">
                            <img class="add-img center"  src="../../assets/img/p_tw.svg" width="16">
                        </div>
                        <div class="coli col">
                            <img class="add-img center"  src="../../assets/img/p_wh.svg" width="16">
                        </div>
                    </div>
            </div>
          </div>
    </div>


    <div class="row p-mobile row-b parent">
        <div class="col-md-6 col-xs-6 col-sm-6 mr-d">
            <div class="">
                <h3 class="p-title">Nom du partenaire</h3>
                <p class="p-text">
                    <b>Description du partenaire :</b><br>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem.
                </p>
                    <b>Nos adresses :</b><br><br>
                    <b>Localisation :</b>   XXXXXXXXXXX - Douala Cameroun
                    <hr style="border-top: 1px dashed #3C3C3C;" />

                    <b>Téléphones :</b>    (+237) 000 000 000
                    <hr style="border-top: 1px dashed #3C3C3C;" />

                    <b>Email :</b>    aaaaa@light-conseils.com
                    <hr style="border-top: 1px dashed #3C3C3C;" />
                    <div class="row">
                        <div class="coli col">
                            <img class="add-img center"  src="../../assets/img/p_lin.svg" width="16">
                        </div>
                        <div class="coli col">
                            <img class="add-img center"  src="../../assets/img/p_fb.svg" width="9">
                        </div>
                        <div class="coli col">
                            <img class="add-img center"  src="../../assets/img/p_tw.svg" width="16">
                        </div>
                        <div class="coli col">
                            <img class="add-img center"  src="../../assets/img/p_wh.svg" width="16">
                        </div>
                    </div>
            </div>
          </div>
        <div class="col-md-6 col-xs-6 col-sm-6 ml-d no-pl">
            <img class="p-custom-img" src="../../assets/img/p3.png" >
        </div>
    </div>



</div>
