



@media only screen and (min-width: 1025px) {
    .bg-g{
        background-color: #F6F6F6;
        padding: 60px;
        margin-bottom: -50px;
    }
    .pade{
        background-color: white;
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
        background: #f6f6f6;
    }
} 

a {
    color: #00B0EF;
    text-decoration: underline;
}

.text-primary {
    color: #00B0EF!important;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border: none!important;
}


.input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    border: none!important;
}


.hand{
    cursor: pointer;
 }

.pade{
    background-color: white;
}

.nav-pills .nav-link {
    border: 0;
    border-radius: 0.25rem;
    width: 50%;
}
.text-sm-center {
    text-align: center!important;
    font-size: 0.8rem;
}



.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #00B0EF;
}

.btn-primary {
    background-color: #00B0EF !important;
    border-color: #00B0EF !important;
    width: 100%;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #00B0EF;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}