

*{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#f8f9fa;
}

.float{
	position:fixed;
	width:300px;
	height:110px;
	bottom:40px;
	right:40px;
	background-color:#00B0EF;
	color:#FFF;
    text-align:left;
    padding: 10px;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}






.bg{
    background-color: #f8f9fa;
    margin-bottom: -50px;
    height: 100%;
}
.hidden{
    visibility: hidden;
}
.btn-secondary{
    background-color: #9BC53D;
    float: right;
    border-color: #9BC53D;
}


.add-bg{
    background-color: #ECECEC;
    border-radius:15px;
    height: 400px;
    vertical-align: middle;
}

.add-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    
}

.bread-text{
    color: #D80032;
}

.breadcumbs{
    padding-bottom: 50px;
    padding-left: 90px;
}

.text-gray {
color:#595959;
}

.center{
    margin-left: auto!important;
    margin-right: auto!important;
    display: block!important;
    text-align: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .celi{
    position:relative;
  }
  .element{
        padding-top: 30px;
        padding-bottom: 30px;
        transform: translateY(50%);
  }


  .cell {
    height: 200px;
    position: relative;
  }

  .hand{
      cursor: pointer;
  }
.delete{
    color: #00B0EF;
}
