/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr';
body {
    color: #3C3C3C;
  }
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.marge {
  padding-left: 10px;
  padding-right: 10px;
}
.marge-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-primary{
  background-color: #00B0EF!important;
  border-color: #00B0EF!important;
}

.btn-white{
  color: #00B0EF;
  background-color: white;
  border-color: white;
  padding: 10px;
  font-size: 1.7rem;
  font-weight: 800!important;
}

.add-cart {
  color: white;
  background-color: #9BC53D;
  border-color: #9BC53D;
  padding-left: 10px!important;
  padding-right: 10px!important;
  font-size: 1.5rem!important;
  text-align: left;
  font-weight: 800!important;
}


@media only screen and (max-width: 768px) {
  .text-end {
      text-align: center!important;
  }
  .add-cart {
    color: white;
    background-color: #9BC53D;
    border-color: #9BC53D;
    font-size: 1rem!Important;
    text-align: left;
  }
  .card-body{
    flex: 1 1 auto;
    padding: 1rem 1rem;
    margin-top: 10px !important;
}
}

